.left-panel {
	float: left;
	width: 320px;
}

.right-panel {
	float: left;
	border-left: 1px dashed black;
	padding-left: 4px;
}

.category {
	font-weight: bold;
}

body {
	background-color: #f8f8f8;
}

header {
	font-weight: bold;
}